<?xml version="1.0"?>

<model>
  <name>Hatchback</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <description>
    A hatchback
  </description>

  <!-- Circular dependency here for testing purposes -->
  <depend>
    <model>
      <uri>https://fuel.ignitionrobotics.org/1.0/openrobotics/models/hatchback_2</uri>
    </model>
  </depend>
</model>
