<?xml version="1.0"?>
<model>
  <name>my_iris_camera</name>
  <version>1.0</version>
  <sdf version='1.6'>my_iris_camera.sdf</sdf>

  <author>
   <name>R</name>
   <email>dqzdqzdqzd</email>
  </author>

  <description>
    This is a model of the my_drone Quadrotor. The original model has been created by
    Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>
